
{% from "macros.html" import render_input, render_action %}    
<form class='form-stacked' method="POST" action="/login">
    {{ login_form.hidden_tag() }}
    {{ login_form.next }}
    <fieldset>
        <p class="help-block text-right">Don't have an account? Sign up <a href="/signup">here</a></p>
        {{ render_input(login_form.identifier, 'form-control') }}
        {{ render_input(login_form.password, 'form-control') }}
        {{ render_input(login_form.remember_me, 'checkbox') }}
        {{ render_action(login_form.submit) }}
    </fieldset>
</form>
