
{% from "macros.html" import render_input, render_action %}
<form class='form-stacked' method="POST" action="/signup">
    {{ signup_form.hidden_tag() }}
    {{ signup_form.next }}
    <fieldset>
        <p class="help-block text-right">Already have account? Sign in <a href="/login">here</a></p>
        {{ render_input(signup_form.name, 'form-control') }}
        {{ render_input(signup_form.username, 'form-control') }}
        {{ render_input(signup_form.email, 'form-control') }}
        {{ render_input(signup_form.password, 'form-control') }}
        {{ render_input(signup_form.role, 'radio') }}
        {{ render_action(signup_form.submit) }}
    </fieldset>
</form>
