<html>
<head>
<title>list of all the API'S You Uploaded</title>

<style>
	#footer {
   	position:absolute;
   	bottom:0;
   	width:100%;
   	height:70px;   /* Height of the footer */
   	background:#808080;
	}
.content {
    width:200px;
    float: left;
    display:block;
    word-wrap:break-word;
}
label {
    display: block;
    margin-left: 18px;
}
.check {
    width:200px;
    float: right;
    display:block;
    word-wrap:break-word;
}
</style>
</head>
<body bgcolor="#808080">
<div id="container">
<div id="header">
	<center>
	<font color="white"><h1>!!! Framework for Functional testing</h1></font>
	</center><hr/>
</div>
<div id="body">
<table>
<center>
<h1 id="qunit-header"><center><font color="#fff0f5" size="10">List of all the API inside the batch</h1></font><br>

    <!-- The file upload form used as target for the file upload widget -->
 <tr><td>
 <select name="header_select" id="header_select" class="selectpicker form-control">
              {% for o in cases %}
              <option value="{{o}}">{{o}}</option>
              {% endfor %}
  
 </select>
<p><a href=# id=submit>validate</a>
<label>
<div class="check">
</div>
</label>
<label>
<div class="content">
</div>
</label>
<br />
</td></tr>
</table>
</center>
<center>
<form action ="/"><input type="submit" value="home" style="height: 30px; width: 100px; left: 150; top: 150; font-size:15px;"></form> 
<p><a href=# id=save>Save</a></center>
</center>

</div><!--body div-->

</div><!--container div-->
<script type="application/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.js')}}"></script>
<script type=text/javascript>
if (!window.x) {
    x = {};
}

x.Selector = {};
x.Selector.getSelected = function() {
    var t = '';
    if (window.getSelection) {
        t = window.getSelection();
    } else if (document.getSelection) {
        t = document.getSelection();
    } else if (document.selection) {
        t = document.selection.createRange().text;
    }
    return t;
}
$(function() {
	$('a#save').bind('click',function() {
		var mytext = x.Selector.getSelected().toString(); 
		console.log(mytext);
		alert(mytext);
		$.getJSON('/save',{
			 header_validator: $(".check input[type=checkbox]:checked" ).val(),
			 input_url: $("#header_select").val(),
			 content_validator:mytext
			},function(data){
			alert(data)
		});
	});
});
$(document).ready(function() {
	var check=$('.check').html();
	var content=$('.content').html();
	console.log("its done");
	$('a#submit').bind('click',function() {
			$.getJSON('/validate',{
			 input_url: $("#header_select").val()

			},function(data){
				$('.check').html(check);
				$('.content').html(content);
						
				$.each(data,function(i,j){
					$.each(data[i]["headers"],function(j){
						$('.check').append("<input type=checkbox value="+data[i]["headers"][j]+">"+data[i]["headers"][j]+"</br>");
					})
				})
				$.each(data,function(i,j){
				$.each(data[i]["content"],function(j){
					$('.content').append("<p>"+data[i]["content"][j] +"</p></br>")
				})
			})
		});
    });

});

</script>
</body>
</html>

