html {
    overflow-y: scroll;
}

body {
    padding-top: 50px;
}

body.home{
    background: url('/static/images/bg.jpg') fixed ;
    background-size: cover;
}

.jumbotron h1 {
    padding-bottom: 40px;
}

form.logout input {
	background:none!important;
    border:none;
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #333333;
    outline: 0;
}

form.logout input:hover {
	color: #d9230f;
}

.skills {
    padding: 10px;
    text-align: center;
}

.bio {
    padding: 10px;
}
img.avatar {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    margin-top: 7.5px;
    margin-right: -5px;
}

img.big {
    height: 75px;
    width: 75px;
    float:left;
    margin: 0 10px;
}


.jumbotron {
    text-align: center;
}

a.nope, a.nope:hover {
    color: #333333;
}

.cog {
    color: #333333;
    position: relative;
    display: block;
    padding: 11px 10px 9px;
    outline: 0;
    text-decoration: none;
}

#codecademy_badges{
    padding: 5px;
}

#codecademy_badges > #userAchievements > h2{
    font-size: 20px!important;
}

div.achievement{
    display: inline-block;
    width: 100%;
    height: 170px;
}

.badge img{
    display: inline-block!important;
    position: relative;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

ul.radio#role {
    list-style-type: none
}
