[Desktop Entry]
Categories=Application;Network
Comment=Airtel 4G Applications
Comment[en]=Airtel 4G Applications
Encoding=UTF-8
Name=Airtel 4G
Name[en]=Airtel 4G
Terminal=false
Type=Application
Exec=/usr/local/Airtel_4G/USBModem
Icon=/usr/local/Airtel_4G/configure/images/logo_m.png
Path=/usr/local/Airtel_4G
