body {
  background-color: #f2f2f2;
  font-size: 10pt;
  font-family: Verdana,sans-serif;
  margin: 0;
  padding: 0;
}

div#main-container {
  width: 640px;
  margin: 0 auto;
  padding: 1em 140px;
  line-height: 140%;
}

nav#main {
  text-align: right;
  width: 120px;
  float: left;
}
nav#main a {
  text-decoration: none;
  border-bottom: none;
}

nav#main ul {
  letter-spacing: .05em;
  list-style-type: none;
  margin-top: 2.5em;
  padding-left: 0;
}

nav#main ul a {
  text-transform: uppercase;
}

nav#main a:hover {
  background-color: #cccccc;
}

nav#main a.sitelink {
  display: inline-block;
}

div#main-container div#content-container {
  width: 440px;
  margin-left: 220px;
}

p, blockquote {
  margin-bottom: 1em;
}

li {
  margin-bottom: .5em;
  line-height: 140%;
}
ul.form {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

ul.form input,
ul.form textarea {
  border-radius: 5px;
  border: 1px solid #333333;
  width: 300px;
}

ul.form li {
  list-style-type: none;
  margin: 0
  padding: 0;
}

li.form-label {
  font-weight: bold;
}

li.form-field {
  margin-bottom: .5em;
}

input.submit-button {
  padding: .5em;
  cursor: pointer;
}

span.field-required-marker {
  font-weight: bold;
  color: #cc0000;
}

ul.errorlist {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  color: #cc0000;
}

blockquote {
  font-size: 16pt;
  margin-left: 1em;
  margin-right: 1em;
}

div.standout {
  font-size: 16pt;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: yellow;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

div.leader {
  font-size: 21pt;
}

div.form-container {
  width: 300px;
}

h1 {
  color: black;
  border-bottom: double 1px #cccccc;
  font-size: 16pt;
  line-height: 120%;
  font-weight: bold;
}

h2 {
  font-size: 12pt;
  font-weight: normal;
  color: #333333;
  border-bottom: double 1px #cccccc;
}

footer {
  font-size: 10pt;
  color: #666666;
  text-align: center;
  margin: 3em 0 1em 0;
}

footer a {
  color: #666666;
}

footer a:hover {
  color: black;
}

dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: .5em;
}

/* django_pygments customization */
div.highlight {
  border-left: 1px solid #cbd8e1;
  font-size: 9pt;
  padding-bottom: 0.35em;
  min-width: 100%;
}

div.highlight pre ol {
  list-style-type: none;
  padding-left: 0.5em;
}

div.highlight pre li {
  line-height: 100%;
}

div.teaser {
  font-weight: bold;
  font-size: 12pt;
}

a {
  color: #3F5A6C;
  text-decoration: none;
  border-bottom: 1px dotted  #3F5A6C;
}

a:hover {
  border-bottom: 1px solid  #3F5A6C;
}

sup {
  line-height: 0px;
  vertical-align: super;
  font-size: smaller;
}

p.originally {
  font-style: italic;
  font-size: 9pt;
}

section#footnotes {
  font-size: 8pt;
  border-top: 1px solid silver;
  margin-top: 6em;
}

section#footnotes div.highlight {
  font-size: 8pt;
}

/* https://j.eremy.net/align-lists-flush-left/ */
section#footnotes > ol {
  display: table;
  margin-left: 0;
  padding-left: 0;
}

section#footnotes > ol > li {
  display: table-row;
  counter-increment: table-ol;
}

section#footnotes > ol > li::before {
  content: counter(table-ol) ".";
  display: table-cell;
  padding-right: 0.4em;
  text-align: right;
}

header {
  padding-bottom: .5em;
}

div.user-header {
  text-align: right;
  font-size: 10pt;
}

/* training */
ul.training-list {
  margin: 0 0 1em 0;
  padding: 0;
}
ul.training-list li {
  float: left;
  list-style-type: none;
}
a.training-box {
  width: 280px;
  height: 400px;
  max-height: 300px;
  position: relative;
  text-align: center;
  margin: 0 20px 0 0;
  padding: 10px;
  display: block;
  font-size: 12pt;
  background-color: white;
  line-height: 140%;
  color: black;
}
div.training-learn-more-button {
  display: inline-block;
  padding: 1em 0;
  margin: 0 auto;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14pt;
  background-color: #333333;
  color: white;
  position: absolute;
  bottom: 1.5em;
  left: 50px;
  width: 200px;
}
div.training-learn-more-button:hover {
  background-color: #666666;
}
p.training-heading {
  font-size: 14pt;
  color: #333333;
  line-height: 150%;
  text-align: center;
}

a.training-box h2 {
  margin-top: .5em;
  font-size: 16pt;
  display: block;
  font-weight: normal;
  color: #333333;
  border-bottom: double 1px #cccccc;
}
a.training-box h2:hover {
  border-bottom: solid 1px #333333;
}

.error {
  color: #cc0000;
  font-weight: bold;
}

h1, h2 {
  margin-top: 2em;
  font-weight: bold;
}
