{% extends "v3/template_1.html" %}
<!-- top tiles -->
{%block content %}
<div class="row tile_count">
    <div class="product_price col-md-6 ">
        <h3>Historial Status</h3>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count ">
            <span class="count_top "><i class="fa fa-user "></i> Total Test cases</span>
            <div class="count "> {{ttc }} 0

            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count ">
            <span class="count_top "><i class="fa fa-user "></i> Executed Test cases</span>
            <div class="count "> {{etc }}
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count ">
            <span class="count_top "><i class="fa fa-user "></i> Failed Test Cases</span>
            <div class="count "> {{ftc }}
            </div>
        </div>

    </div>
    <div class="product_price col-md-6 ">
        <div>
            <h3>Current Status
            </h3>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count ">
                <span class="count_top "><i class="fa fa-user "></i> Total Test cases</span>
                <div id="ttc" class="count "></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count ">
                <span class="count_top "><i class="fa fa-user "></i> Executed Test cases</span>
                <div id="etc" class="count "></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count ">
                <span class="count_top "><i class="fa fa-user "></i> Failed Test Cases</span>
                <div id="ftc" class="count "></div>
            </div>
        </div>

    </div>
</div>

{% endblock %}


