{% extends "v3/template_1.html" %} 

{% block css %}
<meta name="robots" content="noindex, nofollow">
<!-- Datatables -->
<link href="{{ url_for( 'static', filename='v2/vendors/datatable/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
<link href="{{ url_for( 'static', filename='v2/vendors/datatable/css/select.dataTables.min.css')}}" rel="stylesheet">
  <script src="{{ url_for( 'static', filename='v2/vendors/datatable/js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for( 'static', filename='v3/js/testcases.js')}}"></script>

  <style>
    .rows {
        margin-top: 1em;
        margin-bottom: 1em;
    }
  </style>


{% endblock %}

{% block content %}
<div class="container">
<div class="row rows">
    <div class="col-sm-2">Select Project</div>
    <div class="col-sm-8">
        <select id="projects" name="projects" class="form-control block">
            {% for key, value in projects.items() %}
                <option id="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-2">
        <input type="button" id="get_tcs" class="form-control btn-primary" value="Get Testcases">
    </div>
</div>
    <form id="upload" action="/run_testcases" method="POST" >
    <div class="row rows">
        <table id="example" class="table display select" cellspacing="0" width="100%">
   <thead>
      <tr>
         <th></th>
         <th class="api_id">Testcase ID</th>
         <th>Test Case</th>
      </tr>
   </thead>
   <tfoot>
      <tr>
         <th></th>
         <th class="api_id">Testcase ID</th>
         <th>Test Case</th>
      </tr>
   </tfoot>
</table>
    </div>
    <div class="panel-group col-sm-8">
      <div class="panel panel-primary ">
      <div class="panel-heading">Test Case Operations</div>
      <div class="panel-body">
      <!--
      <div class="row rows style="padding-left:5px;"">
        <div class="col-sm-3">Testcase Name</div>
        <div class="col-sm-9">
          <input type="text" id="tcs_name" class='form-control'>
        </div>
      </div>
       <div class="row rows">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <label id="result" class="col-sm-12"></label>
          </div>
      </div>
      -->
      <div class="row rows">
        <div class="col-sm-12">
          <input type="button" class="btn btn-primary btn-block" id="execute_tcs" value="Lets Execute test case">
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

     </form>
</div>



    {% endblock %} {% block js %}
    <script>
    $("#createtest").click(function(){
      // lets get the list of all the api id's selected and store them in a list
      var selected_apis = $("#")
    });
    </script>

    {% endblock %}
