{% macro render_field(field) -%} {% if field.type == 'CSRFTokenField' %} {{ field }} {% if field.errors %}
<div class="warning">You have submitted an invalid CSRF token</div>
{% endif %} {% elif field.type == 'HiddenField' %} {{ field }} {# any other special case you may need #} {% else %}
<div class="input-group-lg row">
    <div class="col-sm-5"><label for="{{ field.label.field_id }}" class="col-sm-2 control-label">{{ field.label.text }}</label></div>
    <div class="col-sm-5">{{ field(**kwargs)|safe }}</div>
    <div class="col-sm-2"><ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul></div>
  </div>
{% endif %} {%- endmacro %}
