<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Auto Quality</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='v2/vendors/mlpm/css/bootstrap.min.css')}}">
  </head>
  <body>
      <nav id="mp-menu" class="mp-menu">
      	<div class="mp-level">
      		<h2 class="icon icon-world">All Categories</h2>
      		<ul>
      			<li class="icon icon-arrow-left">
      				<a class="icon icon-display" href="#">Home</a>

      				<div class="mp-level">
      					<h2 class="icon icon-display">Devices</h2>
      					<ul>
      						<li class="icon icon-arrow-left">
      							<a class="icon icon-phone" href="#">Mobile Phones</a>

      							<div class="mp-level">
      								<h2>Mobile Phones</h2>
      								<ul>
      									<li><a href="#">Super Smart Phone</a></li>
      									<li><a href="#">Thin Magic Mobile</a></li>
      									<li><a href="#">Performance Crusher</a></li>
      									<li><a href="#">Futuristic Experience</a></li>
      								</ul>
      							</div>

      						</li>
      						<li class="icon icon-arrow-left">
      							<!-- ... -->
      						</li>
      						<li class="icon icon-arrow-left">
      							<!-- ... -->
      						</li>
      					</ul>
      				</div>
      			</li>
      			<li><!-- ... --></li>
      			<!-- ... -->
      		</ul>
      	</div>
      </nav>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
