{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            {{ SITENAME }}
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% if AUTHENTICATED %}<ul class="nav navbar-nav navbar-left">
            {% if PATH == "/projects" %}<li class="active">{% else %}<li>{% endif %}
              <a href="/projects">Projects</a>
            </li>
            {% if PATH == "/messages" %}<li class="active">{% else %}<li>{% endif %}
              <a href="/messages">Messages</a>
            </li>
            {% if PATH == "/profile" %}<li class="active">{% else %}<li>{% endif %}
              <a href="/profile">Profile</a>
            </li>
          </ul>{% endif %}
          <ul class="nav navbar-nav navbar-right">
            <li>{% if AUTHENTICATED %}
              <img class="avatar" src="{{AVATAR}}" />
            </li>
            <li>
              <a href="/profile">Hi, {{ USERNAME }}</a>
            </li>
            <li>
              <div>
                <a class="cog" href="/profile/settings" title="Settings"><span class="glyphicon glyphicon-cog"></span></a>
              </div>
            </li>
            <li>
              <form class="logout" action="/logout" method="post"><input type="submit" value="Logout"></input></form>{% else %}<a href="/login">Login</a>{% endif %}
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
{% endblock nav %}
