{% extends 'base.html' %}
{% block content %}

<div class="content">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img src="{{user.avatar}}" class="avatar big"/>
					<h1 class="username">{% if user.name %}{{user.name}}{% else %}{{user.username}}{% endif %}</h1>
				</div>
				<div class="bio">
					{% if user.bio %}
						{{user.bio | paragraph | safe}}
					{% else %}
						This user hasn't set a biography yet...
					{% endif %}
				</div>
				<div class="panel-footer">
					{% if user.role == CONSTANTS.ROLES.DEVELOPER %}
					<h3>Skills</h3>
						{% for skill in user.skills %}
						<span class="label label-info">{{ skill.name }}</span>
						{% endfor %}
				</div>{% endif %}
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading"><h4>{% if role == CONSTANTS.ROLES.DEVELOPER %}Current Projects{% elif role == CONSTANTS.ROLES.PROPOSER %}Ongoing Proposals{% endif %}</h4></div>
						<table class="table">
							{% if role == CONSTANTS.ROLES.DEVELOPER %}{% for project in ongoing_projects %}<tr><td><a href="/project/{{ project.id }}">{{ project.name }}</a></td><td>{% for skill in project.skills %}<span class="label label-info">{{ skill.name }}</span> {% endfor %}</td></tr>{% endfor %}{% elif role == CONSTANTS.ROLES.PROPOSER %}{% for proposal in ongoing_proposals %}<tr><td><a href="/project/{{ proposal.id }}">{{ proposal.name }}</a></td><td>{% for skill in proposal.skills %}<span class="label label-info">{{ skill.name }}</span> {% endfor %}</td></tr>{% endfor %}{% endif %}
						</table>
					</div>
				</div>

				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading"><h4>{% if role == CONSTANTS.ROLES.DEVELOPER %}Past Projects{% elif role == CONSTANTS.ROLES.PROPOSER %}Completed Proposals{% endif %}</h4></div>
						<table class="table">
						{% if role == CONSTANTS.ROLES.DEVELOPER %}{% for project in completed_projects %}<tr><td><a href="/project/{{ project.id }}">{{ project.name }}</a></a></td><td>{% for skill in project.skills %}<span class="label label-info">{{ skill.name }}</span> {% endfor %}</td></tr>{% endfor %}{% elif role == CONSTANTS.ROLES.PROPOSER %}{% for proposal in completed_proposals %}<tr><td><a href="/project/{{ proposal.id }}">{{ proposal.name }}</a></td><td>{% for skill in proposal.skills %}<span class="label label-info">{{ skill.name }}</span> {% endfor %}</td></tr>{% endfor %}{% endif %}
						</table>
					</div>
				</div>
			</div>

			{% if user.code_academy_username %}<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Code Academy Badges</h4>
				</div>
					<div id="codecademy_badges">
					</div>
			</div>{% endif %}
		</div>
	</div>
</div>

				{% if user.code_academy_username %}
<script type="text/javascript">
	$.ajax('http://www.codecademy.com/users/{{user.code_academy_username}}/achievements',
		{success : function(data, textStatus, jqXHR){
				var badges = $(data).find('#userAchievements');
				badges.find('a').each(function(){
					this.href = 'http://www.codecademy.com'+this.pathname;
				});
				badges.find('div.badge').each(function(){
					str = (String)($(this).css('background-image'));
					str = str.replace("localhost:5000","codecademy.com").replace("127.0.0.1:5000","codecademy.com").replace("url","").replace("(","").replace(")","");
					var img = $('<img>'); //Equivalent: $(document.createElement('img'))
					img.attr('src', str);
					img.appendTo($(this));
					$(this).css('background-image','');
				})
				console.log(badges);
				$('#codecademy_badges').append(badges);
	}});

</script>
{% endif %}
{% endblock %}
