<html>
<head>
<title>main page</title>
<style>
	#footer {
   	position:absolute;
   	bottom:0;
   	width:100%;
   	height:70px;   /* Height of the footer */
   	background:#9fa9a3;
	}
</style>
</head>
<body bgcolor="#9fa9a3">
<div id="container">
<div id="header">
	<center>
	<font color="white"><h1>Framework for Functional testing</h1></font>
	</center><hr/>
      </div>
<div id="body">
<center>
<table>
<font color="#fff0f5" size=5><h1>welcome to main page</h1></font>
<center>
<form action="upload" >
<tr> <td><input type="submit" value="Upload File" style="height: 50px; width: 200px; left: 250; top: 250; font-size:20px" ></td></form>

<form action="run_batch"><td><input type="submit" value="Run API" style="height: 50px; width: 200px; left: 250; top: 250; font-size:20px" ></td></form></tr><br>

<center><form action="edit_batch"><tr> <td><input type="submit" value="Edit Batch" style="height: 50px; width: 200px; left: 250; top: 250; font-size:20px" ></td></tr></form></center><br>
<tr>
 
<form action="key_value" ><td><input type="submit" value="Project Property" style="height: 50px; width: 200px; left: 250; top: 250; font-size:20px" ></td></form>

<form action="/"><td><input type="submit" value="View Reports" style="height: 50px; width: 200px; left: 250; top: 250; font-size:20px"></td></form></tr>
</table>
</center>
</div><!--body div-->
   <div id="footer"><hr/>
<footer class="footer">
   
</footer>

</div><!--footer div-->
</div><!--container div-->
</body>
</html>