body {
    background: #313131 none repeat scroll 0 0;
}

div.login-form {
    background: #f1f1f1 none repeat scroll 0 0;
    margin: 0 auto;
    margin-top: 60px;
    width: 480px;
    border-radius: 0.8em;
    padding: 30px;
}

.login-form h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.checkbox {
    float: right;
    color: darkgray;
}

.col-centered { float: none; margin: 0 auto; }
