{% extends "v2/layout.html" %} {% block css %}
<meta name="robots" content="noindex, nofollow">

  <style>
    .rows {
        margin-top: 1em;
        margin-bottom: 1em;
    }
  </style>

{% endblock %}

{% block content %}
<div class="container">

</div>



    {% endblock %} {% block js %}
    <script>
    $("#createtest").click(function(){
      // lets get the list of all the api id's selected and store them in a list
      var selected_apis = $("#")
    });
    </script>

    {% endblock %}
