{% extends "v2/layout.html" %} {% block css %}
<style>
.m {
    border-left: 1px solid  #0D3257;
    background-color:  #EAEEEA;
    color: #777B88;
    text-shadow: 1px 1px black;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sel{
    background-color:  #0D3257;
    color: #EAEEEA;
    text-shadow: 1px 1px #8C9C9A;
}
.unsel{
    background-color:  #8C9C9A;
    color: #777B88;
}
.row{
    border-bottom: 1px solid #330033;
}
</style>

{% endblock %}

{% block content %}
    <section>
    <ul class="nav nav-tabs">
        <li><a href="#course" data-toggle="tab">Course</a></li>
        <li><a href="#module1" data-toggle="tab">Module1</a></li>
        <li><a href="#module2" data-toggle="tab">Module2</a></li>    
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="course">
            <ul class="nav nav-tabs">
                <li><a href="#module1-step1" data-toggle="tab">Step 1</a></li>
                <li><a href="#module1-step2" data-toggle="tab">Step 2</a></li>
            </ul>
            <ul class="tab-content">
                <li class="tab-pane active" id="module1-step1">
                    <p>I'm Module 1 Step 1.</p>
                </li>
                <li class="tab-pane" id="module1-step2">
                    <p>Howdy, I'm Module 1 Step 2</p>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="module1">
            <p>Module1</p>
        </div>
        <div class="tab-pane" id="module2">
            <p>Module2</p>
        </div>
    </div>
</section>

<!-- div class="container">
    <div class="row row-sw-12">
        <div class="col-sm-2 m stg1" id="request">Request</div>
        <div class="col-sm-2 m sel stg1" id="response">Response</div>
    </div>
    <div class="row col-sw-12">
        <div class="sub container" id="for_request">
            <div class="row row-sw-12">
                <div class="col-sm-2 m stg2 sel" id="req_headers">Headers</div>
                <div id="req_cookies" class="col-sm-2 m stg2">Cookies</div>
            </div>
        </div>
        <div class="sub container" id="for_response">
            <div class="row row-sw-12">
                <div id="res_header" class="col-sm-2 m sel">Headers</div>
                <div id="res_cookies" class="col-sm-2 m ">Cookies</div>
            </div>
        </div>
    </div>
    <div class="row row-sw-12 data_row">
        <div class="m data" id="for_req_headers">Request</div>
        <div class="m data" id="for_req_cookies">Response</div>
    </div>
</div> -->

{% endblock %}
{% block js %}
<script>
// $().ready(function(){
//     $(".sub").hide();
//     $(".stg1").on("click", function(){
//         $(".stg1").removeClass("sel");
//         $(".data_row").hide();
//         $(this).addClass("sel").removeClass("unsel");
//         $(".sub").not($("#for_" + $(this).attr("id"))).hide();
//         $("#for_" + $(this).attr("id")).show();
//     })
// });
</script>
{% endblock %}
