 {% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />{% endblock %} {% block content %}


<div class="inner-screen">

    <div class="form">
        <form action="/login" method="post">
            <input type="text" name="username" class="zocial-dribbble" placeholder="Enter your email" />
            <input type="text" name="password" placeholder="Password" />
            <input type="submit" value="Submit" />
            <!--            <a href="">Lost your password?</a>-->
        </form>
    </div>


</div>
{% endblock %}
