 {% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" /> {% endblock %} {% block content %}

<!--<div class="stand">-->
<!--    <div class="outer-screen">-->
<div class="inner-screen">
    <div class="form">
        <input type="text" class="zocial-dribbble" placeholder="Enter your email" />
        <input type="text" placeholder="Password" />
        <input type="submit" value="Login" />
        <a href="">Lost your password?</a>
    </div>
</div>
<!--</div>-->
<!--</div>-->

{% endblock %}
