 {% extends "base.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />{% endblock %} {% block content %}


<div class="inner-screen">

    <div class="form">
        <!--        <form>-->
        <input type="text" id="username" class="zocial-dribbble" placeholder="Enter your email" />
        <input type="text" id="password" placeholder="enter Password" />
        <input type="submit" id="submit" value="Submit" />
        <!--            <a href="">Lost your password?</a>-->
        <!--        </form>-->
        <div id="msg"></div>
    </div>


</div>
<script type="application/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        console.log("TEST1 ");
        $("#submit ").click(function() {
            $.post("/login", {
                username: $("#username").val(),
                password: $("#password").val()
            }, function(data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
            });
        });
    });

</script>
{% endblock %}
