<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Zurb Foundation 6 Template | Welcome</title>

    <link rel="icon" href="img/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.css" />

</head>

<body>
    <div class="row">
        <div class="large-12 columns">
            <h1>Welcome to Foundation 6 for Sites</h1>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>
        $(document).foundation();

    </script>
</body>

</html>
