div#newsletter-box {
  margin-top: 5em;
  text-align: center;
  background-color: white;

}
div.email-navbox-header {
  font-size: 12pt;
  text-transform: uppercase;
  margin-bottom: .4em;
}

div.email-navbox-text {
  font-size: 10pt;
  margin-bottom: 1em;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

div#newsletter-box input {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
div#mc_embed_signup_scroll {
  padding: 0;
}
div#mc_embed_signup_scroll input {
  width: 110px;
  margin: 0 0 .5em 0;
  text-align: center;
  height: 32px;
  line-height: 32px;
}

div#mc_embed_signup_scroll input[type=email] {
  border: 1px solid #999;
  margin-bottom: 1em;
}
div#mc_embed_signup_scroll input[type=submit] {
  color: #ffffff;
  background-color: #999;
  border: 0 none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#mc_embed_signup_scroll input[type=submit]:hover {
  background-color: #777;

}
